@import "../styles/color.palette";
@import "../styles/typography";
@import "../styles/responsive";

.tileList li {
    display: flex;
    float: left;
    height: 2em;
}

.tile a {
    background: $accent-color-lt;
    border-radius: 0.25em;
    width: 2em;
    height: 2em;
    margin: auto;
    margin-right: 0.5em;
    @include tabletOrDesktop {
        width: 4em;
        text-align: center;
        @include app-font-sm;
        color: $accent-color-drk;
    }

    i {
        margin: 0.2em;
        color: $accent-color-drk;
    }
}