@import "../styles/color.palette";
@import "../styles/typography";
@import "../styles/responsive";

body {
    background-color: $primary-color
}

.app-font-headline {
    @include app-font-md;
    text-align: center;

    @include tablet {
        @include app-font-lg;
    }

    @include desktop {
        @include app-font-xl;
    }
}

.display-none {
    display: none;
}