@import "../styles/color.palette";
@import "../styles/typography";
@import "../styles/responsive";

header {
    background-color: $primary-color;
    border-bottom: 0.2em solid $secondary-color;
}

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.app-font-headline {
    @include app-font-md;
    text-align: center;

    @include tablet {
        @include app-font-lg;
    }

    @include desktop {
        @include app-font-xl;
    }
}

.display-none {
    display: none;
}